apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-app
  namespace: argocd
  labels:
    project: {{ .ProjectName }}
    tier: infrastructure
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .ProjectName }}
  source:
    repoURL: {{ .GitRepo }}
    targetRevision: HEAD
    {{- if .RepoRootPath }}
    path: {{ .RepoRootPath }}/charts/bootstrap
    {{- else }}
    path: charts/bootstrap
    {{- end }}


    helm:
      valueFiles:
        - values.yaml
        - ../../config/cluster-values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true

    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

  revisionHistoryLimit: 3
