apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ .ProjectName }}
  namespace: argocd
  labels:
    project: {{ .ProjectName }}
spec:
  description: "{{ .ProjectName }} - Infraestrutura Kubernetes com GitOps"
  
  # Repositórios permitidos
  sourceRepos:
  - '{{ .GitRepo }}'
  - 'https://charts.bitnami.com/bitnami'
  - 'https://prometheus-community.github.io/helm-charts'
  - 'https://grafana.github.io/helm-charts'
  - 'https://traefik.github.io/charts'
  
  # Clusters de destino permitidos (namespaces restritos ao projeto)
  destinations:
  - namespace: {{ .ProjectName }}
    server: {{ .DestinationServer | default "https://kubernetes.default.svc" }}
  - namespace: argocd
    server: {{ .DestinationServer | default "https://kubernetes.default.svc" }}
  - namespace: ingress-system
    server: {{ .DestinationServer | default "https://kubernetes.default.svc" }}
  - namespace: argo-events
    server: {{ .DestinationServer | default "https://kubernetes.default.svc" }}
  - namespace: monitoring
    server: {{ .DestinationServer | default "https://kubernetes.default.svc" }}
  - namespace: storage
    server: {{ .DestinationServer | default "https://kubernetes.default.svc" }}
  - namespace: sealed-secrets
    server: {{ .DestinationServer | default "https://kubernetes.default.svc" }}

  # Recursos cluster-wide permitidos (restrito ao necessário)
  clusterResourceWhitelist:
  - group: ''
    kind: Namespace
  - group: rbac.authorization.k8s.io
    kind: ClusterRole
  - group: rbac.authorization.k8s.io
    kind: ClusterRoleBinding
  - group: networking.k8s.io
    kind: IngressClass
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
  - group: ''
    kind: PersistentVolume

  # Recursos negados (por segurança)
  clusterResourceBlacklist: []

  # Recursos de namespace permitidos (restrito a tipos necessários para workloads e operações)
  namespaceResourceWhitelist:
  - group: ''
    kind: ConfigMap
  - group: ''
    kind: Secret
  - group: ''
    kind: Service
  - group: ''
    kind: PersistentVolumeClaim
  - group: apps
    kind: Deployment
  - group: apps
    kind: StatefulSet
  - group: batch
    kind: Job
  - group: batch
    kind: CronJob
  - group: networking.k8s.io
    kind: Ingress
  - group: networking.k8s.io
    kind: NetworkPolicy
  - group: autoscaling
    kind: HorizontalPodAutoscaler
  - group: bitnami.com
    kind: SealedSecret
  - group: monitoring.coreos.com
    kind: ServiceMonitor
  - group: keda.sh
    kind: ScaledObject
  - group: argoproj.io
    kind: EventSource
  - group: argoproj.io
    kind: Sensor
  - group: argoproj.io
    kind: EventBus
  - group: argoproj.io
    kind: WorkflowTemplate
  - group: argoproj.io
    kind: Workflow
    
  # Políticas de sincronização
  syncWindows: []
  
  # RBAC específico do projeto
  roles:
  - name: admin
    description: "Acesso administrativo completo ao projeto"
    policies:
    - p, proj:{{ .ProjectName }}:admin, applications, *, {{ .ProjectName }}/*, allow
    - p, proj:{{ .ProjectName }}:admin, repositories, *, *, allow
    groups:
    - {{ .ProjectName }}:admin
    
  - name: developer
    description: "Acesso de desenvolvedor às aplicações"
    policies:
    - p, proj:{{ .ProjectName }}:developer, applications, get, {{ .ProjectName }}/*, allow
    - p, proj:{{ .ProjectName }}:developer, applications, sync, {{ .ProjectName }}/*, allow
    - p, proj:{{ .ProjectName }}:developer, applications, action, {{ .ProjectName }}/*, allow
    groups:
    - {{ .ProjectName }}:developer
    
  - name: readonly
    description: "Acesso somente leitura"
    policies:
    - p, proj:{{ .ProjectName }}:readonly, applications, get, {{ .ProjectName }}/*, allow
    - p, proj:{{ .ProjectName }}:readonly, repositories, get, *, allow
    groups:
    - {{ .ProjectName }}:readonly
