apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: external-apps
  namespace: argocd
  labels:
    app.kubernetes.io/instance: external-apps
    app.kubernetes.io/managed-by: {{ .ProjectName }}
    app.kubernetes.io/name: external-apps
spec:
  goTemplate: true
  generators:
    - git:
        repoURL: {{ .GitRepo }}
        revision: {{ .GitBranch }}
        files:
          - path: "charts/cluster-config/templates/applicationset/external-apps.yaml"
  template:
    metadata:
      name: '{{ "{{" }} .path.basename {{ "}}" }}'
    spec:
      project: "default"
      source:
        repoURL: {{ .GitRepo }}
        targetRevision: {{ .GitBranch }}
        path: '{{ "{{" }} .path.path {{ "}}" }}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{ "{{" }} .path.basename {{ "}}" }}'
