apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  accounts.admin: apiKey, login
  admin.enabled: "true"
  application.instanceLabelKey: argocd.argoproj.io/instance
  
  # OIDC Configuration (Example placeholder)
  # oidc.config: |
  #   name: {{ .ProjectName }}
  #   issuer: https://dex.{{ .Domain }}
  #   clientID: argocd
  #   clientSecret: $argocd-secret:oidc.clientSecret
