# .github/workflows/sync-labels.yaml
name: "🏷️ Sync Labels"

on:
  push:
    branches:
      - {{ .GitBranch }}
    paths:
      - '.github/labels.yml'
  workflow_dispatch:

permissions:
  issues: write
  pull-requests: write

jobs:
  sync:
    name: 🏷️ Sync Labels
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: EndBug/label-sync@v2
        with:
          config-file: .github/labels.yml
          delete-other-labels: false
