apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: manual-infrastructure-deploy-
  namespace: argocd
spec:
  workflowTemplateRef:
    name: cluster-infrastructure-deploy
  arguments:
    parameters:
    - name: git-repo
      value: "{{ .GitRepo }}"
    - name: git-revision
      value: "HEAD"
    - name: environment
      value: "{{ .Environment }}"
    - name: dry-run
      value: "false"
